<div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
      <div class="col mb-3">
        <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
            <img src="/images/logos/anr.jpg" alt="ANR" class="img-fluid" style="height:50px">
        </a>
        <p class="text-body-secondary">© 2024 - DT4CPS - Tous droits réservés. Cette recherche a été financée, en tout ou partie, par l’Agence nationale de la recherche au titre du projet ANR-23-CE10-0010-01.</p>
      </div>
  
      <div class="col mb-3">
        <h5>Les laboratoires</h5>
        <img src="/images/logos/logocrestic.png" alt="ANR" class="img-fluid" style="height:50px">
        <img src="/images/logos/logodisp.png" alt="DISP" class="img-fluid" style="height:50px">
        <img src="/images/logos/logoquartz.png" alt="QUARTZ" class="img-fluid" style="height:50px">
      </div>
  
      <div class="col mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a href="/laboratoires" class="nav-link p-0 text-body-secondary">Laboratoires</a></li>
          <li class="nav-item mb-2"><a href="/equipe" class="nav-link p-0 text-body-secondary">Membres du projet</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        
      </div>
  
      <div class="col mb-3">
        
      </div>
    </footer>
  </div>