{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}

<ul>
  {{ range .Site.Taxonomies.labs.Alphabetical }}
  <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ .Count }}</li>
  {{ end }}
</ul>

<div class="row">
  {{ range .Pages }}
  <div class="col-sm-12 col-md-4 gy-3">
    <div class="card">
      <h2 class="card-header"><a href="{{ .RelPermalink }}" class="text-primary">{{ .LinkTitle }}</a></h2>
      <div class="card-body">
      <img class="img-fluid" style="height:300px" src="{{ .Params.image | relURL }}">
    </div>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}